@font-face {
  font-family: satoshi;
  src: url(./Fonts/OTF/Satoshi-Regular.otf);
}

@font-face {
  font-family: integral;
  src: url(./Fonts/Integral-CF/Demo_Fonts/Fontspring-DEMO-integralcf-regular.otf);
}
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
button {
  cursor: pointer;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background: #fff;
}
.navigation__one {
  background: #000;
}

.navigation-top {
  display: flex;
  max-width: 1240px;
  color: #fff;
  align-items: center;
  font-family: satosh;
  margin: auto;
}

.navigation-top-one {
  display: flex;
  margin: auto;
  padding: 12px;
  font-family: "Satoshi";
  font-size: 14px;
  align-items: center;
}

.navigation-top-one__button {
  background: none;
  border: none;
  color: white;
  text-decoration: underline;
  font-weight: 600;
}

#shop {
  border: none;
  font-family: "satoshi";
  font-size: 16px;
}

.navigation-top-two__button {
  color: white;
  border: none;
  background: none;
}

.navigation-second {
  display: flex;
  max-width: 1240px;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 12px 0;
  margin-top: 24px;
  margin-bottom: 11px;
}

.nav-logo img {
  display: none;
}
.nav-logo a {
  color: #000;
}

.nav-logo__title {
  font-family: "integral";
  font-size: 32px;
  font-weight: bold;
}

.nav-logo__nav--list {
  display: flex;
  font-family: "satoshi";
  font-size: 16px;
  gap: 24px;
  align-items: center;
}

.nav-logo__nav--link {
  color: #000;
}

.navigation-second__search {
  max-width: 477px;
  width: 100%;
}

.navigation-second__search--input {
  background-image: url(./images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 16px center;
  background-size: 24px;
  font-size: 16px;
  line-height: 21px;
  padding: 12px 16px 12px 50px;
  border-radius: 62px;
  background-color: #f0f0f0;
  border: none;
  width: 100%;
  font-family: satoshi;
}

.navigation-second__icons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.mobile-search {
  display: none;
}

.section__line {
  height: 1px;
  max-width: 1240px;
  background-color: #000;
  opacity: 0.1;
  margin: auto;
}
.container {
  max-width: 1240px;
  margin: auto;
}

.container__nav {
  margin-top: 180px;
}

.nav__item {
  display: flex;
  gap: 20px;
}

.nav--list a {
  color: #000;
  font-family: satoshi;
  font-size: 16px;
  opacity: 0.6;
}

/*  --------  details section -----   */

.detail--section {
  display: flex;
  margin-top: 42px;
  gap: 40px;
}

.detail--images {
  display: flex;
  gap: 14px;
}
.detail--images-mobile {
  display: none;
}

.detail--images-small {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.detail--info--header {
  font-family: integral;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 14px;
}
.detail--info--stars {
  display: flex;
  gap: 16px;
  margin-bottom: 14px;
  height: 20px;
  align-items: center;
}

.stars__img {
  max-width: 138px;
}
.stars__number span {
  opacity: 0.6;
}
.stars__number {
  font-family: satoshi;
  font-size: 16px;
}

.detail__prise {
  display: flex;
  align-items: center;
  gap: 10px;
}

.detail__prise--now {
  font-family: satoshi;
  font-weight: 700;
  font-size: 24px;
  line-height: 32.4px;
  color: #000;
}

.detail__prise--old {
  text-decoration: line-through;
  font-family: satoshi;
  font-weight: 700;
  font-size: 24px;
  line-height: 32.4px;
  color: #000;
  opacity: 40%;
}
.price__persent {
  padding: 6px 14px;
  border-radius: 62px;
  max-width: 58px;
  background-color: rgba(255, 51, 51, 0.1);
  z-index: 1;
}
.price__persent p {
  font-family: satoshi;
  font-weight: 500;
  font-size: 12px;
  line-height: 16.2px;
  color: #ff3333;
  z-index: 9;
}

.detail--info--text {
  font-family: satoshi;
  font-size: 16px;
  line-height: 22px;
  margin-top: 20px;
  margin-bottom: 24px;
  opacity: 0.6;
}

.detail--select {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.select--text {
  font-family: satoshi;
  opacity: 0.6;
}

.detail--size {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.select--buttons-input {
  padding: 12px 24px;
  font-family: satoshi;
  border: none;
  border-radius: 62px;
}

.select--buttons-input:hover {
  background-color: #000;
  color: #fff;
}

.detail--add {
  display: flex;
  gap: 20px;
  margin-top: 24px;
}

.detail--add--number {
  padding: 5px 24px;
  max-width: 170px;
  width: 100%;
  border: none;
  border-radius: 62px;
  display: flex;
  justify-content: space-between;
  background: #f0f0f0;
  align-items: center;
}

.detail--plus {
  font-family: satoshi;
  font-size: 30px;
}

.detail--add--cart {
  background: #000;
  color: #fff;
  padding: 12px 0;
  max-width: 400px;
  border: none;
  border-radius: 62px;
  width: 100%;
}
.reviewes {
  margin-top: 80px;
}

.reviewes--buttons {
  width: 100%;
  display: flex;
}

.reviewes--buttons button {
  font-family: satoshi;
  font-size: 20px;
  opacity: 0.6;
  max-width: 414px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #cccccc;
  background: #fff;
  color: #000;
}

.reviewes--buttons button:hover {
  border-bottom: 2px solid #000;
  color: #000;
  font-weight: bold;
  opacity: 1;
}

.reviewes__filter {
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.riviewes__filter--header--h3 {
  font-family: satoshi;
  font-size: 24px;
  font-weight: bold;
}

.riviewes__filter--header--h3 span {
  font-size: 16px;
  opacity: 0.6;
  font-weight: 300;
}

.reviewes__filter--buttons {
  display: flex;
  gap: 10px;
}

.reviewes__filter--buttons button {
  border: none;
  border-radius: 62px;
}

.reviewes__filter--filter {
  padding: 13px;
}

.reviewes__filter--latest {
  display: flex;
  gap: 21px;
  align-items: center;
  padding: 13px 20px;
}
.reviewes__filter--riv {
  padding: 13px 30px;
  background: #000;
  color: #fff;
}

.costumer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 36px;
  margin-top: 24px;
}

.costumer--box {
  max-width: 610px;
  /* width: 100%; */
  display: flex;
  gap: 12px;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 28px 32px;
}

.costumer--box--dots {
  font-size: 28px;
  font-weight: bold;
  opacity: 0.4;
}

.costumer--box--div {
  display: flex;
  justify-content: space-between;
}

.costumer--box--name {
  display: flex;
  align-items: center;
  gap: 8px;
}

.costumer--box--name--p {
  font-family: satoshi;
  font-size: 20px;
  font-weight: bold;
  line-height: 22px;
}

.costumer--box--review {
  font-family: satoshi;
  font-size: 16px;
  line-height: 22px;
  max-width: 522px;
  opacity: 0.6;
  line-height: 22px;
  padding-bottom: 24px;
}

.costumer--box--date {
  font-family: satoshi;
  font-size: 16px;
  font-weight: 600px;
  line-height: 22px;
  opacity: 0.6;
}

.view--button {
  display: flex;
  max-width: 230px;
  margin: 36px auto 28px auto;
  padding: 15px 45px;
  border-radius: 62px;
  font-family: satoshi;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.6px;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  cursor: pointer;
}
.view--button:hover {
  background-color: #000;
  color: #fff;
}

.recomended--items {
  max-width: 1240px;
  margin: 72px auto 0px auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 160px;
}

.produts-items--title {
  text-align: center;
  font-size: 48px;
  font-family: integral;
  line-height: 57.6px;
  font-weight: 700;
  color: #000;
  margin-bottom: 55px;
}
.arrival_items--container {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.produts__boxes {
  gap: 10px;
  max-width: 1240px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.arrivals__description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.arrivals__title {
  font-family: satoshi;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: black;
}

.arrivals_range {
  display: flex;
  gap: 13px;
}

.arrivals_range img {
  max-width: 104px;
}
.starts__number {
  font-family: satoshi;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.9px;
}
.arrivals__price {
  font-family: satoshi;
  font-weight: 700;
  font-size: 24px;
  line-height: 32.4px;
  color: #000;
}
.arrival__discount {
  display: flex;
  align-items: center;
  gap: 10px;
}
.arrivals_initialprice {
  text-decoration: line-through;
  font-family: satoshi;
  font-weight: 700;
  font-size: 24px;
  line-height: 32.4px;
  color: #000;
  opacity: 40%;
}
.percent {
  padding: 6px 14px;
  border-radius: 62px;
  max-width: 58px;
  background-color: rgba(255, 51, 51, 0.1);
  z-index: 1;
}
.percent p {
  font-family: satoshi;
  font-weight: 500;
  font-size: 12px;
  line-height: 16.2px;
  color: #ff3333;
  z-index: 9;
}
.arrivals__boxes_cntr img {
  max-width: 270px;
}

/* ------- footer -------- */
.subscribe {
  max-width: 1240px;
  margin: auto;
}
.subscribe-box {
  max-width: 1240px;
  width: 100%;
  background: #000;
  align-items: center;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-top: -90px;
}

.subscribe-box__title {
  font-family: integral;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  line-height: 45px;
  max-width: 552px;
  padding: 43px 64px;
}

.subscribe-box__input {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 43px 64px;
  max-width: 350px;
  width: 100%;
}

.offers__email {
  background-image: url(./images/email.png);
  background-repeat: no-repeat;
  background-position: 16px center;
  background-size: 24px;
  font-size: 16px;
  padding: 12px 16px 12px 50px;
  border-radius: 62px;
  background-color: #fff;
  border: none;
  font-family: satoshi;
  color: rgba(0, 0, 0, 0.4);
}

.offers__btn {
  font-family: satoshi;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 88px 12px 88px;
  border-radius: 62px;
  background-color: #fff;
  border: none;
  color: #000;
}
.footer {
  background-color: #f2f0f1;
  width: 100%;
  position: relative;
}

.footer--container {
  max-width: 1240px;
  margin: auto;
  display: flex;
  padding: 150px;
  justify-content: space-between;
}

.footer--logo {
  max-width: 260px;
}

.footer--logo p {
  font-family: satoshi;
  font-size: 14px;
  line-height: 22px;
  opacity: 0.6;
  padding-top: 25px;
  padding-bottom: 35px;
}
.footer--social--two {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.footer-text-box-header {
  font-family: satoshi;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  padding-bottom: 26px;
}

.footer__list_item_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer_list_item_text {
  font-family: satoshi;
  font-size: 16px;
  line-height: 19px;
  opacity: 0.6;
}

.footer_line {
  margin: auto;
}

.footer--bottom {
  max-width: 1240px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 88px;
}

.footer__rights {
  font-family: satoshi;
  font-size: 14px;
  opacity: 0.6;
}

/* ---- responsive ----- */

@media screen and (max-width: 1130px) {
  .produts__boxes {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 30px;
  }
}

@media screen and (max-width: 1070px) {
  .navigation-second {
    padding: 0 40px;
  }

  #navMenu {
    display: none;
  }
  .nav-logo img {
    display: block;
  }

  #navMenu.active {
    display: block;
  }

  .nav-logo__nav {
    position: absolute;
    top: 118px;
    left: 0;
    background-color: #000;
    width: 100%;
  }

  .nav-logo__nav--list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .nav-logo__nav--item {
    margin: 12px 0;
  }

  #shop {
    background: #000;
    color: #fff;
  }

  .nav-logo__nav--link {
    color: white;
  }

  .nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .nav-logo a {
    display: flex;
    gap: 20px;
  }

  .home__logos--box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 30px 10px;
  }
  .image-box img {
    max-width: 490px;
  }
  .home__number--box--span {
    font-size: 30px;
  }
}
.footer--bottom {
  padding: 25px 25px;
}

@media screen and (max-width: 1070px) {
  .navigation-second {
    padding: 0 40px;
  }

  .nav-logo__nav {
    display: none;
  }
  .nav-logo img {
    display: block;
  }
  .nav-logo a {
    display: flex;
    gap: 20px;
  }
}

@media screen and (max-width: 960px) {
  .produts__boxes {
    grid-template-columns: 1fr 1fr;
    padding: 0 30px;
  }

  .footer--social--two {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .detail--section {
    flex-direction: column;
    margin: auto;
  }
  .detail--images {
    display: none;
  }
  .detail--images-mobile {
    display: block;
    margin: auto;
  }
  .detail--images-small-mobile {
    display: flex;
  }
  .container {
    padding: 0 40px;
  }
  .detail--images-big-mobile img {
    max-width: 330px;
  }
  .detail--images-small-mobile img {
    max-width: 111px;
  }
  .nav__item {
    margin-bottom: 30px;
  }
  .footer--bottom {
    padding: 0 40px;
  }
}

@media screen and (max-width: 860px) {
  .mobile-search {
    display: block;
  }
  .navigation-second__search--input {
    display: none;
  }
  .costumer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 36px;
    margin-top: 24px;
  }
  .subscribe-box {
    flex-direction: column;
    position: relative;
  }
  .produts__boxes {
    grid-template-columns: 1fr;
    padding: 0 30px;
  }

  .subscribe-box__input {
    max-width: 280px;
    padding: 0 0 20px 0;
  }
  .subscribe-box__title {
    font-size: 24px;
    padding: 22px 59px;
    text-align: center;
  }
  .offers__btn {
    padding: 10px 0;
  }
  .footer--social--two {
    grid-template-columns: 1fr 1fr;
  }
  .footer--container {
    flex-direction: column;
    gap: 20px;
    padding: 65px;
  }
  .text__main {
    max-width: 420px;
  }
  .costumer--box {
    max-width: 360px;
    margin: auto;
  }
  .produts-items--title {
    font-size: 36px;
  }
  .box4 {
    display: none;
  }
  .latest {
    display: none;
  }

  .view--button {
    width: 358px;
    padding: 10px 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .nav-logo__title {
    font-size: 24px;
  }
  .footer--bottom {
    padding: 22px 59px;
  }
  .detail--images-big-mobile img {
    max-width: 270px;
  }
  .detail--images-small-mobile img {
    max-width: 90px;
  }
  .arrivals__boxes_cntr img {
    max-width: 230px;
  }
  .reviewes--buttons button {
    font-size: 16px;
  }
  .detail--info--header {
    font-size: 30px;
  }
  .riviewes__filter--header--h3 {
    font-size: 18px;
  }
}

@media screen and (max-width: 420px) {
  .navigation-top-one {
    font-size: 12px;
    padding: 10px;
  }
  .navigation-top-one__button {
    font-weight: 40px;
  }
  .detail--images-big-mobile img {
    max-width: 230px;
  }
  .detail--images-small-mobile img {
    max-width: 70px;
  }
  .nav-logo__title {
    font-size: 20px;
  }
  .reviewes__filter--riv {
    padding: 10px 20px;
  }
  .arrivals__boxes_cntr img {
    max-width: 196px;
  }
  .products__boxes_cntr img {
    max-width: 196px;
  }
  .container {
    padding: 0 20px;
  }
  .produts-items--title {
    font-size: 30px;
  }
  .subscribe-box__input {
    max-width: 260px;
  }
  .offers__btn {
    padding: 8px 80px 10px 80px;
  }
  .footer--container {
    padding: 36px;
  }
  .footer-text-box-header {
    font-size: 12px;
  }
  .footer__list_item_content {
    gap: 12px;
  }
}
